.footer {
  position: relative;
  background-color: #272727;
  color: $color-light;
  text-align: center;
  text-transform: uppercase;
  &__content {
    position: relative;
    max-width: 770px;
    margin: auto;
    padding: 6.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $screen-sm) {
      padding: 3rem 0;
    }
  }
  &__social,
  &__nav,
  &__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
  }
  &__social {
    width: 80%;
    @media (max-width: $screen-md) {
      width: 60%;
    }
    @media (max-width: $screen-xs) {
      width: 80%;
    }
  }
  &__nav {
    width: 100%;
    margin-top: 2.25rem;
    margin-bottom: 2rem;
    @media (max-width: $screen-lg) {
      margin: 3rem 0;
    }
    @media (max-width: $screen-md) {
      width: 80%;
    }
    @media (max-width: $screen-xs) {
      display: none;
    }
  }
  &__nav-link {
    text-decoration: none;
    @include titleSemibold($color-light, 1.2rem);
    @media (max-width: $screen-lg) {
      font-size: 1.1rem;
    }
    @media (max-width: $screen-sm) {
      font-size: 1rem;
    }
  }
  &__contact {
    width: 80%;
    @media (max-width: $screen-md) {
      width: 70%;
    }
    @media (max-width: $screen-xs) {
      width: 95%;
      flex-direction: column;
      margin-top: 1rem;
    }
  }
  &__contact-item {
    position: relative;
    width: 25%;
    text-align: center;
    @media (max-width: $screen-xs) {
      padding: 0.5rem 0;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &:after {
      content: "";
      height: 15px;
      width: 1.5px;
      background-color: $color-light;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      border-radius: 6px;
      @media (max-width: $screen-xs) {
        display: none;
      }
    }
  }
  &__contact-link {
    @include text-regular;
    color: $color-light;
    font-size: 0.9rem;
    text-decoration: none;
    position: relative;
  }
}
.social-link {
  display: block;
  position: relative;
  width: 66px;
  height: 66px;
  background-color: $color-light;
  border-radius: 33px;
  transition: border 0.1s;
  border: 1px solid transparent;
  &:hover {
    border: 3px solid $color-highlight;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
  }
  @media (max-width: $screen-md) {
    width: 50px;
    height: 50px;
  }
  &__img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: $screen-md) {
      height: 60%;
      width: auto;
    }
  }
}
.copyright {
  position: relative;
  background-color: #000;
  color: $color-light;
  text-transform: uppercase;
  @include text-regular;
  &__content {
    max-width: 920px;
    margin: auto;
    padding: 40px 0;
  }
  &__title {
    font-size: 1.3rem;
    font-weight: inherit;
    @media (max-width: $screen-lg) {
      font-size: 1rem;
    }
    @media (max-width: $screen-xs) {
      font-size: 0.9rem;
      line-height: 2;
    }
  }
  &__img {
    margin: 0 10px;
    vertical-align: middle;
    display: inline-block;
  }
  &__subtitle {
    font-size: 1rem;
    font-weight: inherit;
    margin-top: 1rem;
    @media (max-width: $screen-xs) {
      font-size: 0.8rem;
    }
  }
}
.top-link {
  position: absolute;
  top: -40px;
  right: 100px;
  border: 2px solid $color-light;
  padding: 15px;
  border-radius: 33px;
  @media (max-width: $screen-md) {
    right: 35px;
  }
}
