.header {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-image: url("../img/header/bg.jpg");
  @include backgroundCover;
  &__content {
    padding-bottom: 3rem;
    z-index: 10;
    position: relative;
    width: 100%;
    min-height: 100vh;
    color: $color-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-weight: inherit;
    @include textTitle($color-light, 22rem);
    @media (max-width: $screen-xl) {
      font-size: 15rem;
    }
    @media (max-width: $screen-sm) {
      font-size: 13rem;
    }
    @media (max-width: $screen-xs) {
      font-size: 9rem;
    }
  }
  &__subtitle {
    @include titleSemibold(inherit, 5rem);
    @media (max-width: $screen-xl) {
      font-size: 3rem;
      margin-top: 1.5rem;
    }
    @media (max-width: $screen-sm) {
      font-size: 2rem;
    }
    @media (max-width: $screen-xs) {
      font-size: 1rem;
    }
  }
  &__span {
    letter-spacing: 6px;
  }
}
