.header {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-image: url("../img/header/bg.jpg");
  @include backgroundCover;

  &__content {
    padding-bottom: 60px;
    z-index: 10;
    position: relative;
    width: 100%;
    min-height: 100vh;
    color: $color-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: inherit;
    @include textTitle($color-light, 449px);
  }
  &__subtitle {
    @include text-semibold;
    font-size: 93px;
    text-transform: uppercase;
    font-weight: inherit;
  }
  &__span {
    letter-spacing: 6px;
  }
}
