.image-section {
  position: relative;
  height: 0;
  padding-top: 58%;
  width: 100%;
  background-image: url("../img/imageSection/bg.jpg");
  @include backgroundCover;
  @media (max-width: $screen-md) {
    background-size: cover;
  }
  @media (max-width: $screen-sm) {
    display: none;
  }
}
