.nav {
  max-height: 95px;
  width: 100%;
  padding: 0 56px;
  padding-top: 20px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-light;

  &__links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  &__list-item {
    position: relative;
    &:last-of-type {
      &:after {
        display: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: -45px;
      top: 50%;
      background-color: $color-light;
      width: 6px;
      height: 6px;
      border-radius: 33px;
      transform: translateY(-50%);
    }
  }
  &__link {
    color: $color-light;
    text-decoration: none;
    @include text-semibold;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.logo {
  height: 100%;
  &__img {
    height: auto;
    width: 100%;
  }
}
