@mixin textTitle($color, $fontSize) {
  @include text-highlight;
  color: $color;
  font-size: $fontSize;
}
@mixin backgroundCover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
